<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
     {{>header}}
</head>
<body>
    {{>nav}}
    <form action="/login" method="POST">
     <div class="container">
      <input type="email" class="form-control" placeholder="Your Email *" aria-label="Your Email" name="email">
    <input type="password" class="form-control mt-3" placeholder="password *" aria-label="First name" name="password">
  <button class="btn btn-primary mt-3" type="submit" value="register">Submit</button>
    </div>
    </form>
   

</body>
</html>